In [2]:
# 10-12-2023
# CSC461 – Assignment4 – NLP
# Maryam Yousaf
# FA21-BSE-077
# BoW, TF, IDF, and then TF.IDF values for each term and the similarity between S1, S2, and S3 using cosine, manhattan, and euclidean distances

In [3]:
#import warnings to 'ignore' warning messages

import warnings
warnings.filterwarnings("ignore")

In [4]:
#import important libraries

from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

import pandas as pd

In [5]:
S1 = "data science is one of the most important courses in computer science"
S2 = "this is one of the best data science courses"
S3 = "the data scientists perform data analysis"

In [6]:
#combine three sentences to make a corpus

corpus = [S1, S2, S3]
corpus

['data science is one of the most important courses in computer science',
 'this is one of the best data science courses',
 'the data scientists perform data analysis']

In [7]:
#create a reference object to the CountVectorizer constructor
#use the reference object to generate BoW matrix using the fit_transform() function
# 1- Bag of Words
count_vectorizer = CountVectorizer()
c_vector_matrix_exp1 = count_vectorizer.fit_transform(corpus)
c_vector_matrix_exp1

<3x16 sparse matrix of type '<class 'numpy.int64'>'
	with 25 stored elements in Compressed Sparse Row format>

In [8]:
#use get_feature_names_out() to extract vocabulary

c_tokens_exp1 = count_vectorizer.get_feature_names_out()
c_tokens_exp1

array(['analysis', 'best', 'computer', 'courses', 'data', 'important',
       'in', 'is', 'most', 'of', 'one', 'perform', 'science',
       'scientists', 'the', 'this'], dtype=object)

In [9]:
#convert BoW matrix to an array format

c_vector_matrix_exp1.toarray()

array([[0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 2, 0, 1, 0],
       [0, 1, 0, 1, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 1, 1],
       [1, 0, 0, 0, 2, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0]], dtype=int64)

In [10]:
#convert BoW matrix to a Pandas dataframe

bow_matrix = pd.DataFrame(data = c_vector_matrix_exp1.toarray(), columns = c_tokens_exp1)
bow_matrix

,analysis,best,computer,courses,data,important,in,is,most,of,one,perform,science,scientists,the,this
0,0,0,1,1,1,1,1,1,1,1,1,0,2,0,1,0
1,0,1,0,1,1,0,0,1,0,1,1,0,1,0,1,1
2,1,0,0,0,2,0,0,0,0,0,0,1,0,1,1,0

In [11]:
#create a reference object to the TfidfVectorizer constructor
#use the reference object to generate tf.idf matrix using the fit_transform() function
# 2- tf.idf
tfidf_vect_exp1 = TfidfVectorizer()
tfidf_matrix_exp1 = tfidf_vect_exp1.fit_transform(corpus)
tfidf_matrix_exp1

<3x16 sparse matrix of type '<class 'numpy.float64'>'
	with 25 stored elements in Compressed Sparse Row format>

In [12]:
#use get_feature_names_out() to extract vocabulary

t_tokens_exp1 = tfidf_vect_exp1.get_feature_names_out()
t_tokens_exp1

array(['analysis', 'best', 'computer', 'courses', 'data', 'important',
       'in', 'is', 'most', 'of', 'one', 'perform', 'science',
       'scientists', 'the', 'this'], dtype=object)

In [13]:
#convert tf.idf matrix to a Pandas dataframe

tf_idf_exp1 = pd.DataFrame(data = tfidf_matrix_exp1.toarray(), columns = t_tokens_exp1)
tf_idf_exp1

,analysis,best,computer,courses,data,important,in,is,most,of,one,perform,science,scientists,the,this
0,0.000000,0.000000,0.327476,0.249054,0.193412,0.327476,0.327476,0.249054,0.327476,0.249054,0.249054,0.000000,0.498107,0.000000,0.193412,0.000000
1,0.000000,0.422968,0.000000,0.321678,0.249812,0.000000,0.000000,0.321678,0.000000,0.321678,0.321678,0.000000,0.321678,0.000000,0.249812,0.422968
2,0.459115,0.000000,0.000000,0.000000,0.542321,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.459115,0.000000,0.459115,0.271161,0.000000

In [14]:
# 3- calculating term frequency
tf_vectorizer = CountVectorizer()
tf_count = tf_vectorizer.fit_transform(corpus)
#use get_feature_names_out() to extract vocabulary
vocabulary = tf_vectorizer.get_feature_names_out()
array_tf = tf_count.toarray()
array_tf

array([[0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 2, 0, 1, 0],
       [0, 1, 0, 1, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 1, 1],
       [1, 0, 0, 0, 2, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0]], dtype=int64)

In [15]:
tf_array_sum = array_tf / array_tf.sum(axis=1, keepdims=True) # it take an element and divide it with the sum of entire row of array thats why axis is 1 and keep dimension is true so that summed array are same 
#convert tf matrix to a Pandas dataframe
tf_exp1 = pd.DataFrame(data = tf_array_sum, columns= vocabulary)

In [16]:
tf_exp1

,analysis,best,computer,courses,data,important,in,is,most,of,one,perform,science,scientists,the,this
0,0.000000,0.000000,0.083333,0.083333,0.083333,0.083333,0.083333,0.083333,0.083333,0.083333,0.083333,0.000000,0.166667,0.000000,0.083333,0.000000
1,0.000000,0.111111,0.000000,0.111111,0.111111,0.000000,0.000000,0.111111,0.000000,0.111111,0.111111,0.000000,0.111111,0.000000,0.111111,0.111111
2,0.166667,0.000000,0.000000,0.000000,0.333333,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.166667,0.000000,0.166667,0.166667,0.000000

In [17]:
# 4- calculating idf
idf_vectorizer = CountVectorizer()
idf_document = idf_vectorizer.fit_transform(corpus)
idf_document

<3x16 sparse matrix of type '<class 'numpy.int64'>'
	with 25 stored elements in Compressed Sparse Row format>

In [25]:
import numpy as np
idf = np.log(idf_document.shape[0] / (1 + (idf_document> 0).sum(axis=0))) # .shape[0]The number of rows, which corresponds to the number of documents in the dataset.
# IDF=log(N/1+df) formula used for this

In [27]:
idf_names = idf_vectorizer.get_feature_names_out()
idf_values = idf.tolist()[0]

for i in range(len(idf_names)):
    feature = idf_names[i]
    idf_value = idf_values[i]
    if idf_value < 0:
        idf_value = 0
    print(f"{feature}: {idf_value}")

analysis: 0.4054651081081644
best: 0.4054651081081644
computer: 0.4054651081081644
courses: 0.0
data: 0
important: 0.4054651081081644
in: 0.4054651081081644
is: 0.0
most: 0.4054651081081644
of: 0.0
one: 0.0
perform: 0.4054651081081644
science: 0.0
scientists: 0.4054651081081644
the: 0
this: 0.4054651081081644

In [29]:
#  Q2- Compute the similarity between S1, S2, and S3 using cosine, manhattan, and euclidean distances
#  1- Using cosine
t_cosine_similarity_matrix_exp1 = cosine_similarity(tfidf_matrix_exp1)
t_cosine_similarity_matrix_exp1
Bow_t_similarity_exp1 = pd.DataFrame(data = t_cosine_similarity_matrix_exp1)
Bow_t_similarity_exp1

          0         1         2
0  1.000000  0.577324  0.157338
1  0.577324  1.000000  0.203217
2  0.157338  0.203217  1.000000

In [30]:
#import scityblock (manhattan distance) from scipy

from scipy.spatial.distance import cityblock
#calculate scityblock (manhattan distance) between two document vectors (s1, s2)

cityblock(tf_exp1.iloc[0], tf_exp1.iloc[1])

0.7777777777777777

In [32]:
#calculate scityblock (manhattan distance) between two document vectors (s2, s3)
cityblock(tf_exp1.iloc[1], tf_exp1.iloc[2])

1.5555555555555554

In [33]:
#calculate scityblock (manhattan distance) between two document vectors (s1, s3)
cityblock(tf_exp1.iloc[0], tf_exp1.iloc[2])

1.6666666666666665

In [34]:
import math
#calculate euclidean distance between two document vectors (s1, s2)

math.dist(tf_exp1.iloc[0], tf_exp1.iloc[1])

0.24532669073132907

In [35]:
#calculate euclidean distance between two document vectors (s2, s3)

math.dist(tf_exp1.iloc[1], tf_exp1.iloc[2])

0.4714045207910317

In [36]:
#calculate euclidean distance between two document vectors (s1, s3)

math.dist(tf_exp1.iloc[0], tf_exp1.iloc[2])

0.485912657903775